body {
  background-color: #C5CFC6;
  font-family: 'Quando';
}
.title {
  color: white;
  font-size: 70px;
  text-align: center;
  margin-top: 164px;
  margin-bottom: -144px;

}
.signIn {
  background-color: #f9f2e6;
  height: 250px;
  width: 30%;
  margin-top: 171px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  padding: 20px 150px;
}


.inputarea {
  // margin: -44px -53px;
  // margin-left: auto;
  // margin-right: auto;
}

.username, .password , .submit, .age, .location {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  width: 100%;
  // margin-left: 10px;

}


.btn-default {
  margin-left: -4px;
  margin-top: 25px;
  width: 100%;
  margin-bottom: 10px;
  color: #D88A8A;

}
.revealCreateUser {
  a {
    padding-top: 10px;
    margin-left: 28px;
    color: #D88A8A;
  }
}
.selectpicker {
  width: 100%;

}
.createUser {
  margin-top: 30px;
}

.col-md-12 {
  background-color: #D88A8A ;
  height: 80px;
}

.col-md-8 {
padding: 0;
height: 600px;
margin-left: 240px;
// overflow: scroll;
  // background-color: #f9f2e6;

  .col-md-3 {
    background-color: red;
    height: 600px;
  }
  .col-md-9 {
    background-color: #f9f2e6;
height: 600px; }
}
