body {
  background-color: #C5CFC6;
  font-family: 'Quando';
}
.title {
  color: white;
  font-size: 70px;
  text-align: center;
  margin-top: 164px;
  margin-bottom: -144px;

}
.signIn {
  background-color: #f9f2e6;
  height: 250px;
  width: 40%;
  margin-top: 171px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  padding: 20px 150px;
}


.inputarea {
  // margin: -44px -53px;
  // margin-left: auto;
  // margin-right: auto;
}

.username, .password , .submit, .age, .location {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  width: 100%;
  // margin-left: 10px;

}


.btn-default {
  margin-left: 0px;
  margin-top: 25px;
  width: 100%;
  margin-bottom: 10px;
  color: #D88A8A;

}
.revealCreateUser {
  a {
    padding-top: 10px;
    margin-left: 75px;
    color: #D88A8A;

  }
}
.selectpicker {
  width: 100%;

}
.stereotype {
  height: 40px;
  background-color:#D88A8A;
  margin-top: 15px;
}

.createUser {
  margin-top: 30px;
}

.col-md-12 {
  background-color: #D88A8A ;
  height: 100px;
}

.col-md-8 {
padding: 0;
height: 650px;
margin-left: 240px;
background-color: #D88A8A;

// overflow: scroll;
  // background-color: #f9f2e6;

  .col-md-3 {
    // background-color: #f9f2e6;
    height: 650px;
    // background-color: #D88A8A;
    // border: 2px solid #D88A8A;
  }
  .col-md-9 {
    // background-color: #D88A8A;
    // border: 10px solid #D88A8A;
height: 650px; }
}
.matches {
  height: 88%;
}

.match1 {
  border: 4px solid #D88A8A;
  border-radius: 30px;
  background-color: #f9f2e6;
  width: 123%;
  height: 100%;
  display: block;
  margin-top: 10px;
  overflow: scroll;

}

.profilepic {
  width: 32%;
  height: 32%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #D88A8A;
  background-color: #f9f2e6;
  border-radius: 30px;
  overflow: hidden;
}
.profileinfo {
  width: 95%;
  margin-left: auto;
  margin-right: 2px;
  margin-top: 30px;
  border: 4px solid #D88A8A;
  border-radius: 30px;
  height: 381px;
  background-color: #f9f2e6;
}
h2 {
  color: #f9f2e6;
  font-size: 31px;
  text-align: center;
  margin-top: 27px;
}
ul {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  li {
    list-style: none;
    color: #D88A8A;
    font-size: 15px;
    line-height: 40px;
    // text-align: center
  };

}
h3 {
  color: #D88A8A;
  text-align: center;
}
.getmatch {
  background-color: #f9f2e6;
  margin-left: 25px;
}
.getopp {
  background-color: #f9f2e6;
  margin-left: 25px;
}
.delete {
  background-color: #f9f2e6;
  margin-left: 25px;
}
.profPic {
  width: 200px;
  border-radius: 8px;
}
// .matchPic {
//   width: 150px;
//   border-radius: 50px;
// }
