body {
  background-color: #C5CFC6;
}
.signIn {
  background-color: #f9f2e6;
  height: 250px;
  width: 30%;
  margin: 171px auto;
  border-radius: 30px;
  padding: 90px 150px;
}
.username, .password , .submit {
  display: block;
  padding: 10px;
  margin-top: 12px;
  margin-left: 10px;

}
.btn-default {
  margin-left: 61px;
  margin-top: 25px;

}
.inputarea {
  margin: -44px -20px;
}
.col-md-12 {
  background-color: #D88A8A ;
  height: 80px;
}

.col-md-8 {
padding: 0;
height: 600px;
margin-left: 240px;
// overflow: scroll;
  // background-color: #f9f2e6;

  .col-md-3 {
    background-color: #f9f2e6;
    height: 600px;
  }
  .col-md-9 {
    background-color: #f9f2e6;
height: 600px; }
}

.active-section {
  display: block;
}
