body {
  background-color: #C5CFC6; }

.signIn {
  background-color: #f9f2e6;
  height: 250px;
  width: 30%;
  margin: 100px auto;
  border-radius: 30px;
  padding: 90px 150px; }

.username, .password, .submit {
  display: block;
  padding: 10px;
  margin-top: 12px;
  margin-left: 10px; }

.submit {
  margin-left: 58px; }

.inputarea {
  margin: -44px -20px; }

.col-md-12 {
  background-color: #ff6562;
  height: 60px; }

.col-md-8 {
  padding: 0;
  height: 600px;
  margin-left: 240px; }
  .col-md-8 .col-md-3 {
    background-color: #f9f2e6;
    height: 600px; }
  .col-md-8 .col-md-9 {
    background-color: #f9f2e6;
    height: 600px; }
