body {
  background-color: #C5CFC6;
  font-family: 'Quando'; }

.title {
  color: white;
  font-size: 70px;
  text-align: center;
  margin-top: 164px;
  margin-bottom: -144px; }

.signIn {
  background-color: #f9f2e6;
  height: 250px;
  width: 40%;
  margin-top: 171px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  padding: 20px 150px; }

.username, .password, .submit, .age, .location {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  width: 100%; }

.btn-default {
  margin-left: 0px;
  margin-top: 25px;
  width: 100%;
  margin-bottom: 10px;
  color: #D88A8A; }

.revealCreateUser a {
  padding-top: 10px;
  margin-left: 75px;
  color: #D88A8A; }

.selectpicker {
  width: 100%; }

.stereotype {
  height: 40px;
  background-color: #D88A8A;
  margin-top: 15px; }

.createUser {
  margin-top: 30px; }

.col-md-12 {
  background-color: #D88A8A;
  height: 100px; }

.col-md-8 {
  padding: 0;
  height: 600px;
  margin-left: 240px; }
  .col-md-8 .col-md-3 {
    background-color: #D88A8A;
    height: 600px; }
  .col-md-8 .col-md-9 {
    background-color: #f9f2e6;
    height: 600px; }

.matches {
  height: 31%; }

.match1, .match2, .match3 {
  border: 2px solid white;
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 10px; }

.profilepic {
  width: 32%;
  height: 32%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white; }

.profileinfo {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-top: 3px solid white; }

h2 {
  color: #f9f2e6;
  font-size: 31px;
  text-align: center;
  margin-top: 27px; }
