body {
  background-color: #C5CFC6; }

.signIn {
  background-color: #f9f2e6;
  height: 250px;
  width: 30%;
  margin-top: 171px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  padding: 20px 150px; }


.username, .password, .submit, .age, .location {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px; }

.btn-default {
  margin-left: 8px;
  margin-top: 25px;
  width: 100%; }

.col-md-12 {
  background-color: #D88A8A;
  height: 80px; }

.col-md-8 {
  padding: 0;
  height: 600px;
  margin-left: 240px; }
  .col-md-8 .col-md-3 {
    background-color: #f9f2e6;
    height: 600px; }
  .col-md-8 .col-md-9 {
    background-color: #f9f2e6;
    height: 600px; }
